<!--ヘッダー-->
<header>
  <div class="header-logo">
    [サービス名]
  </div>
  <ul class="header-menus">
    <li>[サービス名]とは</li>
  </ul>
</header>

<!--コンテンツ-->
<div class="about-main">
  <h2>[サービス名]とは</h2>
  <p>
    SNSサービスです。
    お店のリアルタイム情報を得られるサービスです。
  </p>
</div>
