<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>

    <!--フォームによるデータ送信-->
    <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">

        <!--エラーメッセージを表示する(空なら表示されない)-->
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <textarea name="content"><%= @post.content %></textarea><!--newの@post.contentは最初は空-->
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>

  </div>
</div>
